langchain
langchain-core
langchain-community
langchain-google-vertexai
langchain-chroma
langchain-text-splitters
langchain-experimental
google-generativeai
google-auth
google-cloud-aiplatform
chromadb
PyMuPDF
python-pptx
pillow
pydantic
python-dotenv
tqdm
sqlalchemy
